<footer class="footer">
    <div class="footer__div">
        <div class="footer__div--div">
        <a class="footer__a" href="index.html" title="Ir al inicio">
            <figure class="footer__figure">
                <img class="footer__img" src="assets/images/logo.png" alt="Friends la serie" width="150" height="64.5" loading="lazy">
            </figure>
        </a>
        <nav class="footer__nav">
            <ul class="footer__ul">
                <li class="footer__li"><a class="footer__a footer__a--nav" href="#formacion" title="presentacion">Formación</a></li>
                <li class="footer__li"><a class="footer__a footer__a--nav" href="#entorno" title="categorias">Entorno</a></li>
                <li class="footer__li"><a class="footer__a footer__a--nav" href="#enlaces" title="enlaces">Enlaces</a></li>
            </ul>
        </nav>
        <p class="footer__p">2023 &copy; María José Casamayor Polo</p>
    </div>
    </div>
</footer>