<header class="header">
    <div class="header__div">
      <a class="header__a" href="index.html" title="Ir al inicio">
        <figure class="header__figure">
          <img class="header__img" src="assets/images/logo.png" alt="Albufera de València" loading="lazy" width="190" height="80">
        </figure>
      </a>
      <nav class="header__nav">
        <ul class="header__ul">
          <li class="header__li"><a class="header__a header__a--nav" href="#formacion">Formación</a></li>
          <li class="header__li"><a class="header__a header__a--nav" href="#entorno">Entorno</a></li>
          <li class="header__li"><a class="header__a header__a--nav" href="#enlaces">Enlaces</a></li>
        </ul>
      </nav>
    </div>
</header>